{% extends "base.html" %}

{% block title %}Bootstrap 表格{% endblock %}

{% block body %}
{{ super() }}
<div class="container">
    <table
            id="table"
            data-toggle="table"
            data-url="holdjson">
        <thead>
        <tr>
            <th data-field="id">ID</th>
            <th data-field="text">Item Name</th>
        </tr>
        </thead>
    </table>

</div>
{% endblock %}

{% block scipt %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function () {
        var _width = $('#2').width();
        $('#2 th:first-child').width(_width * 0.1);
        $('#2 td:first-child').width(_width * 0.1);
        $('#2 th:nth-child(2)').width(_width * 0.2);
        $('#2 td:nth-child(2)').width(_width * 0.2);
        $('#2 th:nth-child(3)').width(_width * 0.3);
        $('#2 td:nth-child(3)').width(_width * 0.3);
        $('#2 th:nth-child(4)').width(_width * 0.1);
        $('#2 td:nth-child(4)').width(_width * 0.1);
        $('#2 th:nth-child(5)').width(_width * 0.1);
        $('#2 td:nth-child(5)').width(_width * 0.1);
        $('#2 th:nth-child(6)').width(_width * 0.2);
        $('#2 td:nth-child(6)').width(_width * 0.2);
    })

</script>
{% endblock %}