{% extends "base.html" %}
{% block title %}股票评分{% endblock %}
{% block body %}
<div class="container">
    {{ super() }}
    <hr>
    <div class="text-center">
        <table class="table" id="table">
            <thead>
            <tr>
                <th data-field="ts_code">代码</th>
                <th data-field="name">名称</th>
                <th data-field="trade_date">交易日期</th>
                <th data-field="classify_name">行业名称</th>
                <th data-field="pf">评分</th>
                <th data-field="pe">PE</th>
                <th data-field="peg">PEG</th>
                <th data-field="pe200">PE200</th>
                <th data-field="pe1000">PE1000</th>
                <th data-field="fina_date">财务报告期</th>
                <th data-field="grossprofit_margin">毛利率</th>
                <th data-field="roe">净资产收益率</th>
                <th data-field="dv_ttm">股息率</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
    var $table = $('#table')

    console.log('文档初始化完成')
    $(function () {
        var d = {{ stocks | tojson }}
        console.log(d)
        $table.bootstrapTable({data: d})
    })


</script>
{% endblock %}