matplotlib==3.1.3
backtrader==1.9.74.123
bokeh==2.0.1
jpush==3.3.6
WTForms==2.2.1
statsmodels==0.11.0
xlrd==1.2.0
mplfinance==0.12.3a3
SQLAlchemy==1.3.15
hurst==0.0.5
baostock==0.8.8
pandas==1.0.3
TA_Lib==0.4.17
requests==2.23.0
Flask_Bootstrap==3.3.7.1
Flask==1.1.1
numpy==1.18.1
Flask_WTF==0.14.3
lxml==4.6.2
tushare==1.2.54
python_dateutil==2.8.1
scikit_learn==0.22.2.post1
talib==0.1.1
