akshare==1.6.15
backtrader==1.9.76.123
baostock==0.8.8
bokeh==2.4.2
Bootstrap_Flask==2.0.2
Flask==1.1.2
flask_paginate==2022.1.8
Flask_WTF==1.0.1
lxml==4.8.0
matplotlib==3.5.1
numpy==1.21.5
pandas==1.4.2
pyecharts==1.9.1
requests==2.27.1
scipy==1.7.3
SQLAlchemy==1.4.32
statsmodels==0.13.2
tenacity==8.0.1
tushare==1.2.85
WTForms==3.0.1
xlrd==2.0.1
