{% extends "base.html" %}
{% block title %}股票估值分析 -- 估值数据{% endblock %}
{% block body %}
	<div class="container">
	    {{ super() }}
		<hr>
		<div class="text-center">
		    <table class="table">
			    <tr>
			      <th>代码</th>
			      <th>名称</th>
			      <th>收盘价</th>
			      <th>PE</th>
			      <th>PEG</th>
			      <th>PE200</th>
			      <th>PE1000</th>
			    </tr>
				{% for stock in stockList %}
			    	<tr>
						<td><a class="text-center" href="/report/{{ stock[0] }}">
							{{ stock[0] }}</a></td>
						<td>{{ stock[1] }}</td>
						<td>{{ stock[2] }}</td>
						<td>{{ stock[3] }}</td>
						<td>{{ stock[4] }}</td>
						<td>{{ stock[5] }}</td>
						<td>{{ stock[6] }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}