{% extends "base.html" %}

{% block title %}股票估值分析 -- 首页{% endblock %}


{% block body %}
<td class="container">
    {{ super() }}
    <!--<table class="table table-striped">-->
    <!--    <table style="width: 100%; height: 100%; table-layout: fixed; word-break: break-all;">-->
    <div class="table-responsive">
        <table class="table table-bordered col-lg-12">
            <!--		  //重点-->
            <!--        <col style="width: 50%"/>-->
            <!--        <col style="width: 50%"/>-->
            <tr>
                <td class="col-lg-6">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <caption>上下文表格布局</caption>
                            <thead>
                            <tr>
                                <th>代码</th>
                                <th>名称</th>
                                <th>平均同比增长</th>
                                <th>增长标准差</th>
                                <th>夏普比率</th>
                                <th>平稳</th>
                                <th>截距</th>
                                <th>系数</th>
                                <th>r2</th>
                                <th>pe</th>
<!--                                <th>peg</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <!--  <tr class="active">-->
                            {% for index, stock in stocks.iterrows() %}
                            <tr>
                            <td>{{ stock.ts_code }}</td>
                                <td>{{ stock['name'] }}</td>
                                <td>{{ stock['mean'] }}</td>
                                <td>{{ stock['std'] }}</td>
                                <td>{{ stock['sharp'] }}</td>
                                <td>{{ stock['flag'] }}</td>
                                <td>{{ stock['intercept'] }}</td>
                                <td>{{ stock['coef'] }}</td>
                                <td>{{ stock['r2'] }}</td>
                                <td>{{ stock['pe_ttm'] }}</td>
<!--                                <td>{{ stock['peg'] }}</td>-->
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </td>
                <td class="col-lg-6">
                    <!--                <img id="content" src="">-->
                    <iframe src="" id="content"
                            frameborder="0" name="profits plot" scrolling="no"
                            onload="this.height=100%">
                        <!--                <iframe id="content" src="/" style="width: 100%">-->
                    </iframe>
                </td>
            </tr>
        </table>

    </div>
    <script>
<!--$(document).ready(function(){-->
<!--  $("td").click(function(){-->
<!--&lt;!&ndash;    $(this).parent("tr").children("td:first").hide();&ndash;&gt;-->
<!--&lt;!&ndash;    $(this).parent("tr").children("td:first").hide();&ndash;&gt;-->
<!--  });-->
<!--});-->

/**
* 设置含有单选按钮的表格的背景颜色
*/
$(document).ready(function()
{
/**
* 表格单击的时候改变背景色
*/
$("tr:gt(1)").click(function() //获取第2行及以后的
{
$(this).addClass("success").siblings().removeClass("success");
<!--alert($(this).children("td:first").html());-->
<!--$("#content").src=$(this).children("td:first").html()-->
var name=$(this).children("td:first").html()

<!--			 $("#content").attr('src','/valuation/'+name);-->
			 $("#content").attr('src','/profitsinc/'+name);
});
});




    </script>

    <script type="text/javascript">
            function reinitIframeKline(){
                var iframe = document.getElementById("content");
                try{
                    var bHeight = iframe.contentWindow.document.body.scrollHeight;
                    var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
                    var height = Math.max(bHeight, dHeight);
                    iframe.height = height;
                    var bWidth = iframe.contentWindow.document.body.scrollWidth;
                    var dWidth = iframe.contentWindow.document.documentElement.scrollWidth;
                    var width = Math.min(bWidth, dWidth);
                    iframe.width = width;
                    console.log(width);
                }catch (ex){}
            }
            window.setInterval("reinitIframeKline()", 200);


    </script>
    </div>
    {% endblock %}

