{% extends "base.html" %}

{% block title %}股票估值分析 -- 首页{% endblock %}


{% block body %}
<div class="container-fluid">
    {{ super() }}
    <!--<table class="table table-striped">-->
    <!--    <table style="width: 100%; height: 100%; table-layout: fixed; word-break: break-all;">-->
    <div class="row">
<!--        <div class="col"><p>testtest</p></div>-->
        <div class="col-lg-7">
            <table class="table table-bordered scrolltable small">
<!--                <thead class="row w-100" style="display:block">-->
                <thead class="row">
<!--                <thead style="display:block">-->
                <!--                            <thead style="display:block;overflow-y:scroll;border-bottom:1px solid #eee;">-->
                <tr class="row">
                    <th class="col-lg-2"><h6><small>代码1</small></h6></th>
                    <th class="col-lg-2">名称</th>
                    <th class="col-lg-1">平均增长</th>
                    <th class="col-lg-1">标准差</th>
                    <th class="col-lg-1">夏普比率</th>
                    <th class="col-lg-1">平稳</th>
                    <th class="col-lg-1">截距</th>
                    <th class="col-lg-1">系数</th>
                    <th class="col-lg-1">r2</th>
                    <th class="col-lg-1">pe</th>
                    <!--                                <th>peg</th>-->
                </tr>
                </thead>
                <!--                            <tbody class="w-100"-->
                <!--                                   style="display:block;max-height:600px;overflow-y:scroll;">-->
                <tbody class="w-100" style="display:block;max-height:600px">
                <!--  <tr class="active">-->
                {% for index, stock in stocks.iterrows() %}
                <tr class="row mx-0">
                    <td class="col-lg-2">{{ stock.ts_code }}</td>
                    <td class="col-lg-2">{{ stock['name'] }}</td>
                    <td class="col-lg-1">{{ stock['mean'] }}</td>
                    <td class="col-lg-1">{{ stock['std'] }}</td>
                    <td class="col-lg-1">{{ stock['sharp'] }}</td>
                    <td class="col-lg-1">{{ stock['flag'] }}</td>
                    <td class="col-lg-1">{{ stock['intercept'] }}</td>
                    <td class="col-lg-1">{{ stock['coef'] }}</td>
                    <td class="col-lg-1">{{ stock['r2'] }}</td>
                    <td class="col-lg-1">{{ stock['pe_ttm'] }}</td>
                    <!--                                <td>{{ stock['peg'] }}</td>-->
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-5"><p><h2>testtest</h2></p></div>
    </div>
</div>
{% endblock %}

