{% extends "base.html" %}

{% block title %}股票估值分析 -- 估值报告{% endblock %}

{% block body %}

	<div class="container">
    {{ super() }}
	<h2>估值报告： {{ stock.stockID }}    {{ stock.name }}</h2>
	<a href="http://finance.sina.com.cn/realstock/company/
		{% if stock.stockID[0]=='6' %}sh{% else %}sz{% endif %}
		{{ stock.stockID }}/nc.shtml"
		class="btn btn-large btn-info" target="_blank">
		新浪财经</a>
	<a href="http://f9.eastmoney.com/
		{% if stock.stockID[0]=='6' %}sh{% else %}sz{% endif %}
		{{ stock.stockID }}.html"
		class="btn btn-large btn-info" target="_blank">
		东方财富</a>
	<a href="http://stockpage.10jqka.com.cn/{{ stock.stockID }}"
		class="btn btn-large btn-info" target="_blank">
		同花顺</a>
	<p><img src="/klineimg/{{ stock.stockID }}"></p>
    <p class="lead">当前TTMPE: {{ stock.curTTMPE }}</p>
    <p class="lead">peg: {{ stock.peg }}</p>
    <p class="lead">评分: {{ stock.pf }}</p>
    <table class="table">
    	<tr><th>低市盈率</th>
    	    <th>低于行业市盈率</th>
    	    <th>低PEG</th>
    	    <th>稳定增长</th>
    	    <th>低估值水平（200日）</th>
    	    <th>低估值水平（1000日）</th>
	   </tr>
  		<tr>
    		{% if stock.lowpe==1 %}<td class="success">{% else %}<td>{% endif %}
    		{{ stock.curTTMPE }}</td>
			{% if stock.lowhype==1 %}<td class="success">{% else %}<td>{% endif %}
    		{{ stock.hype }}</td>
			{% if stock.lowpeg==1 %}<td class="success">{% else %}<td>{% endif %}
    		{{ stock.peg }}</td>
			{% if stock.wdzz==1 %}<td class="success">{% else %}<td>{% endif %}
    		{{ stock.profitsIncAvg }}</td>
			{% if stock.lowpez200==1 %}<td class="success">{% else %}<td>{% endif %}
    		{{ stock.pez200 }}</td>
			{% if stock.lowpez1000==1 %}<td class="success">{% else %}<td>{% endif %}
    		{{ stock.pez1000 }}</td>
    		</tr>
	  </table>
    <p>未来三年PE预计:</p>
    <table class="table">
    	<tr>
	   		{% for pe in stock.PEYuji %}
			<td>{{ pe }}</td>
			{% endfor %}
		</tr>
	</table>
    <p>最近6个季度TTM利润增长率:</p>
    <table class="table table-striped">
    	<tr>
   		{% for inc in stock.profitsInc %}
			<td>{{ inc }}</td>
		{% endfor %}
		</tr>
	</table>
<!--	</p>-->
    <p>最近6个季度TTM利润平均增长率: {{ stock.profitsIncAvg }}</P>
    <p>根据平均绝对离差计算的增长率差异水平:  {{ stock.profitsIncMad }}</P>
    <p>根据标准差计算的增长率差异水平:  {{ stock.profitsIncStand }}</P>
    <p>当前TTMPE参考最近200个工作日水平:  {{ stock.PERate200 }}</P>
    <p>当前TTMPE参考最近1000个工作日水平:  {{ stock.PERate1000 }}</P>
    <h3>行业比较：</h3>
    <table class="table table-striped">
      	<tr><th>代码</th><th>名称</th><th>第1年</th><th>第2年</th><th>第3年</th></tr>
  		<tr>
    		<td>{{ stock.stockID }}</td>
    		<td>{{ stock.name }}</td>
    		<td>{{ stock.profitsInc3Years[0] }}</td>
    		<td>{{ stock.profitsInc3Years[1] }}</td>
    		<td>{{ stock.profitsInc3Years[2] }}</td>
  		</tr>
  		<tr>
    		<td>{{ stock.hyIDlv1 }}</td>
    		<td>{{ stock.hyLv1 }}</td>
    		<td>{{ stock.hyIncLv1[0] }}</td>
    		<td>{{ stock.hyIncLv1[1] }}</td>
    		<td>{{ stock.hyIncLv1[2] }}</td>
  		</tr>
  		<tr>
    		<td>{{ stock.hyIDlv2 }}</td>
    		<td>{{ stock.hyLv2 }}</td>
    		<td>{{ stock.hyIncLv2[0] }}</td>
    		<td>{{ stock.hyIncLv2[1] }}</td>
    		<td>{{ stock.hyIncLv2[2] }}</td>
  		</tr>
  		<tr>
    		<td>{{ stock.hyIDlv3 }}</td>
    		<td>{{ stock.hyLv3 }}</td>
    		<td>{{ stock.hyIncLv3[0] }}</td>
    		<td>{{ stock.hyIncLv3[1] }}</td>
    		<td>{{ stock.hyIncLv3[2] }}</td>
  		</tr>
  		<tr>
    		<td>{{ stock.hyIDlv4 }}</td>
    		<td>{{ stock.hyLv4 }}</td>
    		<td>{{ stock.hyIncLv4[0] }}</td>
    		<td>{{ stock.hyIncLv4[1] }}</td>
    		<td>{{ stock.hyIncLv4[2] }}</td>
  		</tr>
    </table>
    <h3>同行业股票：</h3>
    <table class="table">
  		<tr><th>代码</th><th>名称</th><th>第1年</th><th>第2年</th><th>第3年</th></tr>
   		{% for samestock in stock.sameHYList %}
		<tr>
    		<td><a class="text-center" href="/valuation/{{ samestock[0] }}">
				{{ samestock[0] }}</a></td>
    		<td>{{ samestock[1] }}</td>
			{% for sameitem in samestock[2] %}
    			<td>{{ sameitem }}</td>
    		{% endfor %}
		</tr>
		{% endfor %}
    </table>
    </div>
{% endblock %}


