{% extends "base.html" %}
{% block title %}股票评分{% endblock %}
{% block body %}
<div class="container">
    {{ super() }}
    <hr>
    <div class="text-center">
        <table class="table">
            <tr>
                <th>代码</th>
                <th>名称</th>
                <th>交易日期</th>
                <th>行业名称</th>
                <th>评分</th>
                <th>PE</th>
                <th>PEG</th>
                <th>PE200</th>
                <th>PE1000</th>
                <th>财务报告期</th>
                <th>毛利率</th>
                <th>净资产收益率</th>
                <th>股息率</th>
            </tr>
            {% for index, stock in stocksDf.iterrows() %}
            <tr>
                <td><a class="text-center" href="/valuation/{{ stock['ts_code'] }}">
                    {{ stock['ts_code'] }}</a></td>
                <td>{{ stock['name'] }}</td>
                <td>{{ stock['date'] }}</td>
                <td>{{ stock['classify_name'] }}</td>
				<td>{{ stock['pf'] }}</td>
				<td>{{ stock['pe'] }}</td>
				<td>{{ stock['peg'] }}</td>
				<td>{{ stock['pe200'] }}</td>
                <td>{{ stock['pe1000'] }}</td>
                <td>{{ stock['fina_date'] }}</td>
                <td>{{ stock['grossprofit_margin'] }}</td>
                <td>{{ stock['roe'] }}</td>
                <td>{{ stock['dv_ttm'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

