<!doctype html>
<html lang="zh-CN">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">
    <meta content="{{ csrf_token() }}" name="csrf-token">

    {% block styles %}
    <!-- Bootstrap CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"
          type="text/css">
    <link href="{{url_for('static', filename='css/select2.min.4.1.0.css')}}" rel="stylesheet"
          type="text/css">
    <link href="{{url_for('static', filename='css/bootstrap-table.min.1.18.0.css')}}" rel="stylesheet"
          type="text/css">
    {% endblock %}

    <title>
        {% block title %}{% endblock %}
    </title>
    {% endblock %}
</head>
<body>
<!-- Your page content -->
{# Finally, round things out with navigation #}
{% block navbar %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary"><a
            class="navbar-brand" href="#">Navbar</a>
        <button aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#navbarColor02"
                data-toggle="collapse" type="button"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">首页</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">
                        评分
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('valuation.valuationNav', valu_type='chigu') }}">持股股票评分</a>
                        <a class="dropdown-item" href="{{ url_for('valuation.valuationNav', valu_type='youzhi') }}">优质股票评分</a>
                        <a class="dropdown-item" href="{{ url_for('valuation.valuationNav', valu_type='all') }}">全部股票评分</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">
                        行业
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('classify.profit') }}">行业利润</a>
                        <a class="dropdown-item" href="/classify/profit_inc_hist">行业利润增长比较</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">
                        指数
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/indexinfo/pe">指数PE</a>
{#                        <a class="dropdown-item" href="/indexklineimgnew/000010.SH">上证180历史PE</a>#}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{  url_for('settings.holdsetting') }}">设置持股</a>
                </li>
            </ul>
            <form class="form-inline">
                <input aria-label="Search" class="form-control mr-sm-2"
                       placeholder="Search" type="search">
                <button class="btn btn-outline-light my-2 my-sm-0"
                        type="submit">Search
                </button>
            </form>
        </div>
    </nav>
</div>
{% endblock %}
{% block body %}{% endblock %}

{% block scripts %}
<!-- Optional JavaScript -->
<script src="{{url_for('static', filename='js/jquery-3.5.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/select2.min.4.1.0.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap-table.min.1.18.0.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap-table-zh-CN.js')}}"></script>
<script src="{{url_for('static', filename='js/accounting.min.js')}}"></script>
<script src="{{url_for('static', filename='js/echarts.min.js')}}"></script>
{% endblock %}
</body>
</html>
