{% extends "base.html" %}

{% block title %}行业利润查询{% endblock %}

{% block body %}
{{ super() }}

<div class="container">
    <h2>行业利润查询</h2>

    <!--    <div class="toolbar">-->
    <div class="row">
        <div class="col-5">

            <div class="input-group">
                <label for="classifylv">行业级别</label>
                <select class="form-control" id="classifylv" name="lv">
                    <option selected value="">显示全部</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <label for="selectyear">报告期</label>
                <select class="form-control" id="selectyear" name="year">
                    {% for i in range(2010, 2030) %}
                    <option value={{i}}>{{i}}年</option>
                    {% endfor %}
                </select>
                <!--suppress HtmlFormInputWithoutLabel -->
                <select class="form-control" id="selectquarter" name="quarter">
                    <option value="1">1季度</option>
                    <option value="2">2季度</option>
                    <option value="3">3季度</option>
                    <option value="4">4季度</option>
                </select>
            </div>
        </div>
    </div>

    <table id="table">
    </table>

</div>

{% endblock %}}

{% block scripts %}
{{ super() }}
<script>
    window.ajaxOptions = {
        beforeSend: function (xhr) {
            xhr.setRequestHeader('lv', '1')
        },
    }
    let $table = $('#table')
    let $selectyear = $('#selectyear')
    let $selectquarter = $('#selectquarter')

    let columns = [{
        field: 'code',
        title: '代码',
        align: 'left',
        formatter: 'codeFormatter',
        sortable: true,
    }, {
        field: 'name', title: '名称', align: 'center', sortable: true,
    }, {
        field: 'profits',
        title: '利润',
        align: 'right',
        formatter: 'currencyFormatter',
        sortable: true,
    }, {
        field: 'profits_com',
        title: '可比利润',
        align: 'right',
        formatter: 'currencyFormatter',
        sortable: true,
    }, {
        field: 'lastprofits',
        title: '上年同期利润',
        align: 'right',
        formatter: 'currencyFormatter',
        sortable: true,
    }, {
        field: 'inc',
        title: '同比增长率',
        align: 'right',
        formatter: 'currencyFormatter',
        sortable: true,
    }]

    function queryParams(params) {
        params.lv = $('#classifylv').val()
        params.year = $selectyear.val()
        params.quarter = $selectquarter.val()
        console.log('queryParams: ' + JSON.stringify(params))
        return params
    }

    // 金额格式
    function currencyFormatter(value) {
        return accounting.formatMoney(value, symbol = '')
    }

    // 行业代码添加链接
    function codeFormatter(value) {
        return '<a href="/classifydetail/' + value + '">' + value + '</a>'
    }

    // 表格
    $(function () {
        // $table.bootstrapTable('refreshOptions', {
        //     pageSize: 10,                       //每页的记录行数（*）
        //     pageList: [10, 20, 50, 100],        //可供选择的每页的行数（*）
        //
        // })

        // 设置当前报告期
        let today = new Date()
        let quarters = [4, 4, 4, 1, 1, 1, 2, 2, 2, 3, 3, 3]
        let year = today.getFullYear()
        let quarter = quarters[today.getMonth()]
        if (quarter = 4) {
            year = year - 1
        }
        $selectyear.val(year)
        $selectquarter.val(quarter)
        $table.bootstrapTable('refresh')
        console.log(today.getFullYear())
        console.log(quarters[today.getMonth()])

        // 初始化表格
        $table.bootstrapTable({
            // locale: 'en-US',
            url: '/ajax_data/profitjson',
            pagination: true,
            smartDisplay: true,
            columns: columns,
            search: true,
            queryParams: queryParams,
        })

        // 报告期变动时更新表
        $('#selectyear').change(function () {
            $table.bootstrapTable('refresh')
        })
        $('#selectquarter').change(function () {
            $table.bootstrapTable('refresh')
        })

        // 行业级别变动时更新表
        $('#classifylv').change(function () {
            // let lvValue = $(this).val()
            // console.log('aaa checkValue' + lvValue)
            $table.bootstrapTable('refresh')

            //带参数 刷新
            // var opt = {
            //     url: 'classifyprofitjson', silent: true, query: {
            //         type: 1, lv: lvValue,
            //     },
            // }
            // $table.bootstrapTable('refresh', opt)
        })

    })
</script>
{% endblock %}