{% extends "base.html" %}

{% block title %}股票估值分析 -- 设置持股股票{% endblock %}

{% block body %}
<div class="container">
    {{ super() }}
    <form class="form-horizontal" method="POST">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="holdstocks">持股股票列表</label>
                <div class="controls">
                    <input class="input-block-level" id='holdstocks' name="stockList"
                           size="100" type="text"
                           value="{{ stockListStr }}"/>
                </div>
            </div>

            {{ form.csrf_token }}
            <p>
                <button class="btn" type="submit">提交</button>
            </p>
        </fieldset>
    </form>

</div>
{% endblock %}